.Home {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.Cards {
    display: none;
    z-index: 0;
    width: 30%;
    height: 70vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: all 0.4s ease-in-out;
}

.Cards:nth-child(1) {
    display: flex;
    z-index: 10;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.Cards:nth-child(1).right {
    position: absolute;
    right: -200%;
}

.Cards:nth-child(1).left {
    position: absolute;
    left: -200%;
}

.Cards:nth-child(2){
    display: flex;
    z-index: 5;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.Cards:nth-child(3) {
    display: flex;
    z-index: 1;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.message {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}